.App {
  text-align: center;
}

html{
  background: rgb(233, 233, 233);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




h1{
  font-size: 40px;
  color: rgb(4, 41, 22);
}

.userBoxes div{
  border: 1px solid black;
  width: 200px;
  padding: 50px;
  margin: 10px;
}

.userBoxes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.headLinks{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logBtn{
  width: 50px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  width: 150px;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  background: #13913b8c;
  color: white;
}

.logBtn:hover{
  background: rgb(19, 145, 80);
}

.login{
  background: rgb(19, 145, 80);
  padding: 30px;
  padding-top: 0;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login form{
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 25px;
  color: white;
}
.login input{
  margin: 30px;
  margin-top: 10px;
}
.login h2{
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.login button{
  height: 40px;
  background: rgb(38, 56, 155);
  color: white;
  cursor: pointer;
}
.login button:hover{
  background: white;
  color: rgb(38, 56, 155);
}